
head {
    color: white;
}

body {
    color: lightgray;
    font-family: "Gowun Batang";
}

footer {
    color: white;
    font-family: "Gowun Batang";
}

#container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
   
}

#container div {
    width: 1800px;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block; 
    margin-right: 100px; 
    margin-bottom: 50px;
   
}

a[href="#"] {
    text-decoration: none;
    color: black; 
}

a:hover {
color: lightgray;
}
.icon {
    display: inline-block;
    width: 75px; 
    height: 75px; 
    margin: 5px; 
}

.box {
    width: 20%;
            float:left; 
            box-sizing: border-box;
            padding: 20px;
            border: 1px none #ccc;
            margin: 10px;
            
}

.box h4 {
    color: rgb(46, 45, 45);
    
}

.box p {
    color: black;
}
